@font-face {
  font-family: "Maven Pro";
  src: url("../../../../src/assets/fonts/MavenPro-Regular.ttf");
}
@font-face {
  font-family: "Maven Pro Bold";
  src: url("../../../../src/assets/fonts/MavenPro-Bold.ttf");
}
